# Environment

.env
.env.local
.env.*

# Dependencies

/vendor
/node_modules

# Laravel

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*

# Public storage (symlink)

public/storage

# Editor

.vscode/
.idea/

# OS / temporary

*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
